<body>
    <div class="container">
        <div class="mb-3">
            <h1 id="InicioSesion">Iniciar Sesión</h1>
        </div>
        <div class="mb-3">
            <form action="/Auth/Login" method="post">
                @Html.ValidationMessage("AuthError")
                <div class="mb-3">
                      <label for="username" class="form-label">Correo: </label>
                      <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" required>
                      @Html.ValidationMessage("Correo")
                </div>
                <div class="mb-3">
                      <label for="password" class="form-label">Contraseña: </label>
                      <input type="password" class="form-control" name="password" id="password" required>
                      @Html.ValidationMessage("Contraseña")
                </div>
                <button type="submit" class="btn btn-primary">Ingresar</button>
                <a href="/Home/index" class="btn btn-link">Cancelar</a>
            </form>
        </div>
    </div>    
</body>

